header {
    font-size: 50px;
    color: blue;
    text-align: center;
    padding-bottom: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    border: 20px blue;
}

li {
    padding: 30px;
}

li p {
    display: inline-block;
}

h1 {
    text-align: center;
    padding: 20px;
}

.answers button {
    display: block;
    text-align: justify;
}

#submit {
    display: block;
    margin: auto;
    background-color: grey;
}

.answers button:hover {
    background-color: blueviolet;
}



main div {
    display: block;
    margin: auto;
    width: 50%;
}

.results {
    padding-bottom: 20px;
}